.main{
display:flex;
justify-content: center;
align-items: center;
height: 600px;
background-color: #538cc6;
}

.child{
width:250px;

border:solid #000000 2px;
text-align:center;
background-color: white;
border-radius: 5%;
}

.child h1{
    background-color:#bf80ff;
    color:white;


}

input[type=text] {
    border: none;
    border-bottom: 4px solid#bf80ff;
    color:black;
    padding:10px;

}
.focus{
    background-color: blue;
}